.individual-order{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    border: 10px;
    padding-top: 150px;
    border: 3px;
    color: black;
}

.side-by-side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-return-btn{
    margin-left: 30px;
    margin-bottom: 20px;
}

.singlePostWrapper{
    width: 100%;
    margin: 0px 25px 40px 25px;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 2px solid #ddd;
    height:80%;
    color: inherit;
}

.wording-post{
    padding-top: 70px;
}

.PostTitle{
    padding-bottom: 50px;
    font-size: 30px;
}

.singlePostDesc{
    font-size: 20px;
    padding-bottom: 20px;
}


.singlePriceDesc{
    padding-top: 100px;
    font-size: 50px;
    padding-bottom: 50px;
}
 
.name-title{
    font-size: 60px;
    padding-bottom: 60px;
}

.post-group{
    padding-bottom: 40px;
}


.singlePostEdit{
    margin-left: auto;
    margin-right: auto;
}

.singlePostTitleInput-items{
    font-size: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.singlePostTitleInput{
    height: 30px;
}


.singlePostButton{
    background-color: #2a81df; /* Green */
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.order-button{
    padding-bottom: 50px;
}

.cancel-button{
    padding-top: 50px;
}