.individual-order{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    border: 10px;
    padding-top: 150px;
    border: 3px;
    color: black;
}


.singlePostWrapper{
    width: 100%;
    margin: 0px 25px 40px 25px;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 2px solid #ddd;
    height:80%;
    color: inherit;
}

.wording-post{
    padding-top: 70px;
}

.PostTitle{
    padding-bottom: 50px;
    font-size: 30px;
}

.singlePostDesc{
    font-size: 20px;
    padding-bottom: 20px;
}


.singlePriceDesc{
    padding-top: 100px;
    font-size: 50px;
    padding-bottom: 100px;
}
 
.name-title{
    font-size: 60px;
    padding-bottom: 60px;
}

.post-group{
    padding-bottom: 40px;
}


.singlePostEdit{
    margin-left: auto;
    margin-right: auto;
}

.singlePostTitleInput-items{
    padding-bottom: 10px;
}

.singlePostTitleInput{
    height: 30px;
}
