.section-a-about {
    padding:60px 0;
    padding-bottom: 30px;
}

.about-section{
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 20px;
}


.section-b-about {
    padding:60px 0;
}


.about-annotation {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.about-title {
    color: #2a81df;
    margin-bottom: 45px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.why-us{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.atb{
    color: #2a81df;
    font-size: 25px;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
}


@media (max-width: 700px) {
    .about-annotation {
        line-height: 1.5rem;
        font-size: 14px;
    }

    .about-section{
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 20px;
    }

    .about-title {
        line-height: 2.5rem;
        font-size: 30px;
    }

    .why-us{
        text-align: center;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .atb{
        color: #2a81df;
        font-size: 25px;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 40px;
    }
    
}